<!DOCTYPE html>
<html ng-app="app" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <style>
    </style>
    <title>Messenger</title>
</head>
<body>
<div ng-controller="MessageController as ctrl">

    <h1>Messages</h1>

    <div>
        <h2>Create message</h2>

        <form ng-submit="ctrl.addMessage(newMessage)">
            <label>Author:</label><input ng-model="newMessage.author"/>
            <label>Message:</label><input ng-model="newMessage.message"/>
            <input type="submit" value="Create"/>
        </form>


    </div>
    <ul class="list-group" ng-repeat="message in ctrl.messages">
        <li class="list-group-item">
            <span>{{message.message}}</span></br>
            <cite>By: {{message.author}} </cite></br>
            <span>at {{message.created | date:'medium'}}</span>
            <button type="button" class="btn btn-danger" ng-click="ctrl.deleteMessage(message)">Delete</button>
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Edit</button>

            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Edit Message</h4>
                        </div>
                        <div class="modal-body">
                            <form ng-submit="ctrl.updateMessage(message)">
                                <label>Author:</label><input ng-model="message.author"/>
                                <label>Message:</label><input ng-model="message.message"/>
                                <input type="submit" value="Update"/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


            <div ng-init="init(message.id)" ng-controller="CommentController as commentCtrl" >
                <h5>Comments</h5>
                <ul  class="list-group" ng-repeat="comment in commentCtrl.comments">
                    <span><b>{{comment.author}}: </b></span>
                    <span>{{comment.author}}</span>
                </ul>
                <form ng-submit="commentCtrl.addComment(message,newComment)">
                    <label>Author:</label><input ng-model="newComment.author"/>
                    <label>Message:</label><input ng-model="newComment.message"/>
                    <input type="submit" value="comment"/>
                </form>
            </div>

        </li>
    </ul>

</div>

</body>
<script type="text/javascript" src="js/lib/angular.min.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</html>